{%- import "src/_mapping.json.j2" as map with context -%}
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix vcard: <http://www.w3.org/2006/vcard/ns#> .
@prefix ftr: <https://w3id.org/ftr#> .
@prefix dcat: <http://www.w3.org/ns/dcat#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
@prefix doap: <http://usefulinc.com/ns/doap#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix dqv: <http://www.w3.org/ns/dqv#> .
@prefix vivo: <http://vivoweb.org/ontology/core#> .
@prefix dpv: <https://w3id.org/dpv#> .
@prefix sio: <http://semanticscience.org/resource/> .
@prefix adms: <http://www.w3.org/ns/adms#> .
@prefix ejprd: <https://w3id.org/ejp-rd/vocabulary> .

{% set default_lp = "https://ostrails.github.io/assessment-component-metadata-records/" ~ map.GeneralMap.valuesTagMap.name ~ "/" ~ map.GeneralMap.Abbreviation ~ ".ttl" %}
{% set landing_page = map.GeneralMap.LandingPage if map.GeneralMap.LandingPage else default_lp %}


{% if map.GeneralMap.Abbreviation %}<https://saracuriel.github.io/FDP-DataService-records/software/{{map.GeneralMap.Abbreviation}}.ttl> a dcat:Resource, dcat:DataService ;{% endif %}
    {% if map.GeneralMap.Abbreviation %}dcterms:identifier "https://saracuriel.github.io/FDP-DataService-records/software/{{ map.GeneralMap.Abbreviation }}.ttl"^^xsd:string ;{% endif %}
    {% if map.GeneralMap.Abbreviation %}ejprd:vpConnection ejprd:VPDiscoverable ;{% endif %}
    {% if map.GeneralMap.Abbreviation %}rdfs:isDefinedBy "https://saracuriel.github.io/FDP-DataService-records/software/{{ map.GeneralMap.Abbreviation }}.ttl"^^xsd:anyURI ;{% endif %}
    {% if map.GeneralMap.LandingPage %}dcat:landingPage "{{ map.GeneralMap.LandingPage }}"^^xsd:anyURI ;{% elif map.GeneralMap.Abbreviation %}dcat:landingPage "https://saracuriel.github.io/FDP-DataService-records/software/{{ map.GeneralMap.Abbreviation }}.ttl"^^xsd:anyURI ;{% endif %}
    {% if map.GeneralMap.Title %}dcterms:title "{{map.GeneralMap.Title}}"^^xsd:string ;
    rdfs:label "{{map.GeneralMap.Abbreviation}}"^^xsd:string ;{% endif %}
    {% if map.GeneralMap.Abbreviation %}vivo:abbreviation "{{map.GeneralMap.Abbreviation}}"^^xsd:string ;{% endif %}
    {% if map.GeneralMap.Description %}dcterms:description """{{map.GeneralMap.Description}}"""^^xsd:string ;{% endif %}
    {% set keyword_labels = [] %}{% for key, value in map.GeneralMap.valuesKeywordMap.items() %}{% do keyword_labels.append('"' ~ value.label ~ '"^^xsd:string') %}{% endfor %}{% for key, value in map.GeneralMap.valuesKeywordManualMap.items() %}{% do keyword_labels.append('"' ~ value.label ~ '"^^xsd:string') %}{% endfor %}{% if keyword_labels %}dcat:keyword {{ keyword_labels | join(", ") }} ;{% endif %}
    {% set theme_objects = [] %}{% for key, value in map.GeneralMap.valuesThemeMap.items() %}{% do theme_objects.append('<' ~ value.iri ~ '>') %}{% endfor %}{% for key, value in map.GeneralMap.valuesThemeManualMap.items() %}{% do theme_objects.append('<' ~ value.iri ~ '>') %}{% endfor %}{% if theme_objects %}ftr:applicationArea {{ theme_objects | join(", ") }} ;{% endif %}
    {% set taxonomy_labels = [] %}{% for key, value in map.GeneralMap.valuesTaxonomyMap.items() %}{% do taxonomy_labels.append('"' ~ value.label ~ '"^^xsd:string') %}{% endfor %}{% for key, value in map.GeneralMap.valuesTaxonomyManualMap.items() %}{% do taxonomy_labels.append('"' ~ value.label ~ '"^^xsd:string') %}{% endfor %}{% if taxonomy_labels %}schema:about {{ taxonomy_labels | join(", ") }} ;{% endif %}
    {% set dimension_objects = [] %}{% for item in map.GeneralMap.valuesFAIRPrinciples + map.GeneralMap.valuesFAIRPrinciples4RS %}{% set url = '<' ~ item.url  ~ '>'%}{% do dimension_objects.append(url) %}{% endfor %}{% if dimension_objects %}ftr:inDimension {{ dimension_objects | join(", ") }} ;{% endif %}
    {% if map.GeneralMap.Version %}dcat:version "{{map.GeneralMap.Version}}"^^xsd:string ;{% endif %}
    {% if map.GeneralMap.VersionNotes %}adms:versionNotes "{{map.GeneralMap.Abbreviation}}"^^xsd:string ;{% endif %}
    {% if map.GeneralMap.License %}dcterms:license <{{map.GeneralMap.License}}> ;{% endif %}
    ftr:status "Active"@en ;
    {% if map.GeneralMap.EndpointURL %}dcat:serviceEndpoint <{{map.GeneralMap.EndpointURL}}> ;{% endif %}
    {% if map.GeneralMap.EndpointURLDescription %}dcat:serviceDescription "{{map.GeneralMap.EndpointURLDescription}}"^^xsd:string ;{% endif %}
    {% if map.GeneralMap.Specification %}ftr:scoringFunction <{{map.GeneralMap.Specification}}> ;{% endif %}
    {% if map.GeneralMap.CodeRepository %}doap:repository <{{map.GeneralMap.CodeRepository}}> ;{% endif %}
    {% if map.GeneralMap.valuesToolMap %}ftr:supportedBy {% for key, value in map.GeneralMap.valuesToolMap.items() %}<{{ value.url | default('https://w3id.org/FAIR-Champion', true) }}>{{ "," if not loop.last }}{{ ";" if loop.last }} {% endfor %}{% else %}{% endif %}
    {% if map.GeneralMap.valuesDigitalObject %}dpv:IsApplicableFor {% for item in map.GeneralMap.valuesDigitalObject %}<{{ item.iri }}>{% if not loop.last %}, {% else %};{% endif %}{% endfor %}{% endif %}
    {% if map.GeneralMap.valuesOrganisationMap.items() %}{% for key, org in map.GeneralMap.valuesOrganisationMap.items() %}dcterms:creator <{{ org.url | default('https://fairsharing.org/organisations/' ~ org.id, true) }}>; {% endfor %}{% endif %}
    {% for key, fac in map.GeneralMap.valuesFACMap.items() %}{%- if fac.test_url and map.GeneralMap.valuesTagMap.name == "metric"-%}sio:SIO_000234 <{{ fac.test_url }}> ;
    {% if not loop.last %}
  
    {% endif %}{% endif %}{% endfor %}
    {% for key, fac in map.GeneralMap.valuesFACMap.items() %}{%- if fac.benchmark_url and map.GeneralMap.valuesTagMap.name == "metric"-%} ftr:hasBenchmark <{{ fac.benchmark_url }}> ;
    {% if not loop.last %}
  
    {% endif %}{% endif %}{% endfor %}
    {% for key, fac in map.GeneralMap.valuesFACMap.items() %}{%- if fac.test_url and fac.metric_url and map.GeneralMap.valuesTagMap.name == "benchmark"-%} ftr:hasAssociatedMetric <{{ fac.metric_url }}> ;{% if not loop.last %}

    {% endif %}{% endif %}{% endfor %}
    {% for key, fac in map.GeneralMap.valuesFACMap.items() %}{%- if fac.metric_url and map.GeneralMap.valuesTagMap.name == "test"-%} sio:SIO_000233 <{{ fac.metric_url | default('https://fairsharing.org/' ~ fac.metric_id, true)}}> ;
    {% if not loop.last %}
  
    {% endif %}{% endif %}{% endfor %}
    {% if map.GeneralMap.valuesPositiveMap %}ftr:hasPositiveValidation{% for key, val in map.GeneralMap.valuesPositiveMap.items() %} <{{ val.iri }}>{{ "," if not loop.last }}{{ ";" if loop.last }} {% endfor %}{% endif %}
    {% if map.GeneralMap.valuesNegativeMap %}ftr:hasNegativeValidation{% for key, val in map.GeneralMap.valuesNegativeMap.items() %} <{{ val.iri }}>{{ "," if not loop.last }}{{ ";" if loop.last }} {% endfor %}{% endif %}
    {% if map.GeneralMap.valuesPersonMap %}dcterms:publisher  {% for key, person in map.GeneralMap.valuesPersonMap.items() %}{% if person.person_orcid_code =='' %}"FAIRsharing Team" {% else %}<https://orcid.org/{{person.person_orcid_code}}> {% endif %}{{ "," if not loop.last }} {{ ";" if loop.last }} {% endfor %}{% endif %}
    {% if map.GeneralMap.valuesPersonMap %}dcat:contactPoint  {% for key, person in map.GeneralMap.valuesPersonMap.items() %}{% if person.person_orcid_code == '' %}<mailto:contact@fairsharing.org> {% else %}<https://orcid.org/{{person.person_orcid_code}}> {% endif %}{{ "," if not loop.last }} {{ "." if loop.last }} {% endfor %}{% endif %}



{% for key, org in map.GeneralMap.valuesOrganisationMap.items() %}
<{{ org.url | default('https://fairsharing.org/organisations/' ~ org.id, true) }}> a vcard:Organisation ;
    vcard:organisation-name "{{ org.label | default("No name defined") }}"^^xsd:string .{% if not loop.last %}

  {% endif %}{% endfor %}
{% for key, person in map.GeneralMap.valuesPersonMap.items() %}{% if person.person_orcid_code %}
<https://orcid.org/{{person.person_orcid_code}}> a vcard:Individual, foaf:Agent ;
    vcard:fn "{{ person.person_orcid_name }}"^^xsd:string ;
    vcard:hasEmail <mailto:{{ person.person_email }}> .
    {% if not loop.last %}

  {% endif %}{% endif %}{% endfor %}
{% for key, fac in map.GeneralMap.valuesFACMap.items() %}{% if fac.metric_url %}
<{{ fac.metric_url }}> a dqv:Metric, ftr:Metric, dcat:Resource;
    rdfs:label "{{ fac.metric_name | default("No name defined") }}"^^xsd:string ;
    dcterms:identifier "{{ fac.metric_url }}"^^xsd:string .{% endif %}
{% endfor %}

{% for key, fac in map.GeneralMap.valuesFACMap.items() %}{%- if fac.test_url -%}<{{ fac.test_url}}> a ftr:Test, dcat:DataService .    
{% if not loop.last %}

{% endif %}{% endif %}{% endfor %}
{% for key, fac in map.GeneralMap.valuesFACMap.items() %}{%- if fac.benchmark_url -%}<{{ fac.benchmark_url}}> a ftr:Benchmark, dcat:Resource ;
    rdfs:label "{{ fac.benchmark_name | default("No name defined") }}"^^xsd:string ;
    dcterms:identifier "{{ fac.benchmark_url }}"^^xsd:string .{% endif %}
{% if not loop.last %}

{% endif %}{% endfor %}
{% if map.GeneralMap.Specification %}<{{map.GeneralMap.Specification}}> a sio:SIO_000090 .{% endif %}



{#{{ map.GeneralMap | default({}) |tojson(4) }}#}
